@import "mixins.less";

.b {font-weight: bold;}
#federated-login {list-style-type: none; margin: 0; padding:0;}
#federated-login li {margin: 0 0 8px;}
#account-connect-list {list-style-type: none;padding: 0;}
#account-connect-list li {border: 1px #ccc solid; margin: 10px 0;border-radius: 3px;box-shadow: 0 0 3px rgba(51,51,51, 0.3);}
#account-connect-list a {
	text-decoration: none;
	color: #333;
	padding: 8px 15px;
	display: block;
	border-radius: 3px;
	border: 1px transparent solid;
	#gradient > .vertical(@start-color: #fff; @end-color: #f2f2f2);
}
#account-connect-list a:hover {
	border-color: #333;
}
#account-connect-list h6 {margin: 5px 0;}
a.button-facebook, a.button-googleplus {text-decoration: none;border-radius: 3px;color: #fff;display: block;font-size: 16px;padding: 10px 15px;text-align: center;font-weight: bold;font-size: 13px;}
a.button-facebook {
	#gradient > .vertical(@start-color: #3b5998; @end-color: #2b4170);
	background-color: #2b4170; /* fallback color */
	border: 1px solid #2b4170;
	text-shadow: 0 -1px -1px #1f2f52;
}
 
a.button-facebook:hover {
	#gradient > .vertical(@start-color: #2b4170; @end-color: #3b5998);
	background-color: #3b5998; /* fallback color */
}
a.button-googleplus {
	#gradient > .vertical(@start-color: #e64522; @end-color: #e64522);
	background-color: #c33219; /* fallback color */
	border: 1px solid #c33219;
	text-shadow: 0 -1px -1px #972412;
}
a.button-googleplus:hover {
	#gradient > .vertical(@start-color: #c33219; @end-color: #e64522);
	background-color: #e64522; /* fallback color */
}
#account-action.auth_login {max-width: 360px;}
#account-action .content-group {padding: 10px; border-bottom: 1px #ccc solid;}
#account-action {min-width: 200px;width: 240px;width: auto;margin: auto; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);border-radius: 3px;font-family: 'Helvetica Neue','Helvetica',arial,sans-serif;background: #fff;color:#666;}
#account-action-inner {}
#account-action-footer {padding: 15px;background: #f0f0f0;border-radius: 0 0 3px 3px;}
#account-action p {margin:0.25em 0 0.5em;}
#account-action p a {color: #333;}
#account-action .account-input::-webkit-input-placeholder { color: transparent; }
#account-action .account-input::-moz-placeholder { color: transparent; }
#account-action h1 {color: #525252;font-size: 20px;margin: 0;font-weight: bold;}
#account-action small {font-size: 0.7em;}
#account-action .controls {
	margin-bottom: 10px;
}

#account-action .account-input {
	.box-sizing(border-box);
	#gradient > .vertical(@start-color: #F0F0F0; @end-color: #F5F5F5);
	border: 1px solid #D6D3CE;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.12) inset;
	min-height: 22px;
	color: #333333;
	font-size: 14px;
	padding: 7px;
	width: 100%;
}
#account-action .error {color: #C00;}
#account-action .error .account-input {color: #C00; border: 1px #C00 solid; background: #fff;}
#account-action .success {color: #090;}
#account-action #btn-account-return {
	display: none;
}
#account-action .account-btn {
	background: #4D90FE;
	display: block;
	color: #fff;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 14px 7px;
	white-space: nowrap;
	position: relative;
	vertical-align: middle;
	padding: 10px 15px;
	font-size: 15px;
	font-family: inherit;
	line-height: normal;
	text-decoration: none;
	width: 100%;
}
#account-action .alert{font-size: 14px; padding: 8px 14px;margin-bottom:22px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;border-radius:4px;}
#account-action .alert, #account-action .alert h4{color:#c09853;}
#account-action .alert h4{margin:0;}
#account-action .alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
#account-action .alert-success h4{color:#468847;}
#account-action .alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}
#account-action .alert-error h4{color:#b94a48;}
#account-action .alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
#account-action .alert-info h4{color:#3a87ad;}
#account-action .alert-block{padding-top:14px;padding-bottom:14px;}
#account-action .alert-block>p,.alert-block>ul{margin-bottom:0;}
#account-action .alert-block p+p{margin-top:5px;}
#account-action .disclaimer {
	line-height: 12px;
	font-style: italic;
	color: #999;
	margin-bottom: 0;
}
/*
#dlgAuthModal {padding-top:5px;}
#account-action {margin:-top: 100px;}
#account-action h1{margin-bottom:5px;}
#account-action form {padding-bottom:1px;}
#account-action legend{font-size:1.2em;color:#666;margin-bottom:0;}
#account-action .control-group .control-label {text-align:left;margin-left:40px;width:140px;}
#account-action .form-actions, #account-action form {margin-bottom:0;}
#federated-login {margin-top:10px;}
.container {width: 520px;margin:auto;}
.container > .content {background-color: #fff;padding: 20px;margin: 0 -20px;-webkit-border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;border-radius: 10px 10px 10px 10px;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);box-shadow: 0 1px 2px rgba(0,0,0,.15);}
.btn-login{margin:3px;text-align:center;background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.5)), to(rgba(255,255,255,0)));background-image: -webkit-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));background-image: -moz-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));background-image: -ms-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));background-image: -o-linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));}
.list-accounts li {float:none;}
.list-accounts a {text-decoration:none;padding:10px 10px;}
#frmRegister .control-label {margin-left:30px;}
*/

@media (min-width: 320px) {
	#account-action .account-btn {
		#gradient > .vertical(@start-color: #FFFFFF; @end-color: #F0F0F0);
		color: #5F5F5F;
		display: inline-block;
		text-shadow: 0 1px #FFFFFF;
		width: auto;
	}
	#account-action .account-btn:hover,
	.account-btn:focus,
	.account-btn:active,
	.account-btn.active {
	  color: #333;
	  text-decoration: none;  
	  background-color: #dcdcdc;
	  background-repeat: repeat-x;
	  z-index: 100;
	  outline: none;
	}
	.account-btn:active, .account-btn.active {
	  background-color: #eeeeee;
	  .box-shadow(inset 0 1px 8px rgba(0, 0, 0, 0.25));
	}
	.account-btn:focus {
	  /* Blue border on button focus. */
	  border-color: #4D90FE;
	}
	/* overrides extra padding on button elements in Firefox */
	.account-btn::-moz-focus-inner {
	  padding: 0;
	  border: 0;
	}
	#account-action .account-btn-link {
		background: transparent;
		border-style: none;
	}
	#account-action .account-btn:hover,
	#account-action .account-btn:focus,
	#account-action .account-btn:active {
		background: transparent;
		color: #333;
	}
	
	#account-action .content-group {padding: 20px;}
	#account-action .account-input::-webkit-input-placeholder { color:#666; }
	#account-action .account-input::-moz-placeholder { color:#666; }
	#account-action .account-input {font-size: 18px;padding:10px;}
	#account-action {width: 100%; max-width: 470px;margin: 40px auto;}
	.placeholder-supported .control-label {display: none;}
	#account-action .help-inline {font-size: 0.8em;position: absolute;right: 16px;top: 14px;}
	#account-action .controls {position: relative;}
	#account-action .error .account-input {padding-right: 100px;}
	#account-action-footer {text-align: right;}
	#account-action #btn-account-return {float: left;display: inline-block;}
	#btn-account-return span {display: none;}
}
@media (min-width: 480px) {
	#btn-account-return {font-size: 13px!important;}
	#btn-account-return span {display: inline;}
}
@media (min-width: 768px) {
	#account-action {margin: 100px auto;}
}