body{background:#666;font:normal 12px Verdana, Arial, sans-serif;}
#wrapper{width:480px;margin:0 auto;padding:8px;border:1px #333 solid;-moz-border-radius:6px;-khtml-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;
background:#FFF;}
#innerWrapper{border:1px #CCC solid;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
#header{text-align:left;padding:10px 20px;font:bold 14px Verdana, Arial, sans-serif;background:#EEF4F4;color:#003399;}
#step{padding:5px 20px;border:1px #CCC solid;border-width:1px 0;font-weight:bold;text-align:left;background:#E6E6E6;}
#body{padding:10px 20px;}
.lnks{margin:10px 0;padding:3px;border:1px #CCC solid;text-align:center;}
form{margin:0;}
.button{width:125px;border:1px #333 solid;}
#frmCalculator{width:95%;margin:auto;}
#mailWrapper .cb{overflow:auto;}
.insertContactsLink{color:#18397C;font:bold 12px Verdana, Arial, Sans-Serif;}
.info{color:#999;font-style:italic;}
.info a{text-decoration:underline;font-style:italic;color:#999;}
.button{padding:2px 5px;margin: 0 auto;display:block;}
.tblLogin{margin:10px auto;border:1px #666 solid;font:normal 12px Verdana, sans-serif;}
.tblLogin td{padding:10px 15px;}
.tblLogin .inputField{width:160px;}
.tblLogin .button{width:125px;}
#btnAddEmail{margin:10px 0 5px auto;}
.tblForm{width:100%;margin:0 auto;background:#FEE9FD;border:1px #CCEEEE solid;font:normal 12px Verdana,Arial,Helvetica,sans-serif;color:#039;}
.tblForm td{padding:5px 7px;text-align:center;text-align:left;}
.tblForm tr.title,.tblForm tr.title td{font-weight:bold;text-align:center;background:#CCEEEE;}
.tblForm tr.even{background:#FEE9FD;}
.tblForm tr.odd{background:#FFF2FD;}
.tblForm .inputField{display:block;width:80%;margin:1px 5px;;height:19px;line-height:19px;border:1px #CCC solid;font-weight:normal;font-style:italic;color:#333;}
.tblForm .inputField.email, .tblForm .inputField.name{padding:3px 0 3px 20px;height:15px;line-height:16px;font:italic bold 11px Verdana,Arial,Helvetica,sans-serif;background:#FFF url(/share/imgs/email.png) no-repeat 3px center;}
#addrFilter.inputField{width:95%;margin:0 auto;}
#addrFilter.comment{font-style:italic;color:#999;}
.tblForm .inputField.name{background-image:url(/share/imgs/user.png);}
.tblForm .errorField{border-color:#F00;}
.tblForm .name{font-weight:bold;}
.tblForm .email{font-style:italic;font-size:90%;}
#checkAll{padding:5px 0;width:36px;}
#frmSend{font-size:12px;}
#frmSend label{display:block;height:25px;}
#frmSend label b{float:left;width:75px;clear:left;}
#frmSend #recaptcha_area{clear:both;margin:0 auto;}
#frmSend .pad{margin:0px 20px;}
.msgBox{display:block;width:75%;padding:10px;margin:20px auto;color:#333;}
.msgBox li{list-style:none;margin:3px 10px;}
.msgBox .msgTitle{margin:-10px -10px 10px -10px;padding:2px 10px;font-weight:bold;color:#FFF;background:#666;}
.msgBox .msgButton{border-top:1px #CCC solid;line-height:35px;height:35px;margin:10px 0 -10px 0;}
.msgBox a.button{display:block;width:100px;margin:5px 0 5px 5px;float:left;height:20px;font:bold 100%/1.5em Arial, Verdana, Helvetica, sans-serif;text-align:center;border:1px #CCC solid;color:#666;background:#FFF;}
.msgBox .msgButton .button:hover{background:#E5E5E5;color:#333;}
.msgBox .msgButton span{float:right;width:auto;}
.infoMsg {border:1px #151540 solid;}
.infoMsg .msgTitle{background:#151540;}
.infoMsg a.button{border:1px #151540 solid;color:#151540;background:#FFF;}
.errorMsg {border:1px #B60101 solid;}
.errorMsg a.button{border:1px #B60101 solid;color:#B60101;background:#FFF;}
.errorMsg .msgTitle{background:#B60101;}
.successMsg {border:1px #009900 solid;}
.successMsg .msgTitle{background:#009900;}
.msgBox p, .msgBox ul{padding:0;margin:0;text-align:left;}
.scroll{margin:10px 0;overflow:moz-scrollbars-vertical;overflow-y:scroll;}
