
.b{font-weight:bold}
#federated-login{list-style-type:none;margin:0;padding:0}
#federated-login li{margin:0 0 8px}
#account-connect-list{list-style-type:none;padding:0}
#account-connect-list li{border:1px #ccc solid;margin:10px 0;border-radius:3px;box-shadow:0 0 3px rgba(51,51,51,0.3)}
#account-connect-list a{text-decoration:none;color:#333;padding:8px 15px;display:block;border-radius:3px;border:1px transparent solid;background-image:-webkit-gradient(linear, left 0, left 100%, from(#fff), to(#f2f2f2));background-image:-webkit-linear-gradient(top, #fff, 0, #f2f2f2, 100%);background-image:-moz-linear-gradient(top, #fff 0, #f2f2f2 100%);background-image:linear-gradient(to bottom, #fff 0, #f2f2f2 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0)}
#account-connect-list a:hover{border-color:#333}
#account-connect-list h6{margin:5px 0}
a.button-facebook,a.button-googleplus{text-decoration:none;border-radius:3px;color:#fff;display:block;font-size:16px;padding:10px 15px;text-align:center;font-weight:bold;font-size:13px}
a.button-facebook{background-image:-webkit-gradient(linear, left 0, left 100%, from(#3b5998), to(#2b4170));background-image:-webkit-linear-gradient(top, #3b5998, 0, #2b4170, 100%);background-image:-moz-linear-gradient(top, #3b5998 0, #2b4170 100%);background-image:linear-gradient(to bottom, #3b5998 0, #2b4170 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff2b4170', GradientType=0);background-color:#2b4170;border:1px solid #2b4170;text-shadow:0 -1px -1px #1f2f52}
a.button-facebook:hover{background-image:-webkit-gradient(linear, left 0, left 100%, from(#2b4170), to(#3b5998));background-image:-webkit-linear-gradient(top, #2b4170, 0, #3b5998, 100%);background-image:-moz-linear-gradient(top, #2b4170 0, #3b5998 100%);background-image:linear-gradient(to bottom, #2b4170 0, #3b5998 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b4170', endColorstr='#ff3b5998', GradientType=0);background-color:#3b5998;}
a.button-googleplus{background-image:-webkit-gradient(linear, left 0, left 100%, from(#e64522), to(#e64522));background-image:-webkit-linear-gradient(top, #e64522, 0, #e64522, 100%);background-image:-moz-linear-gradient(top, #e64522 0, #e64522 100%);background-image:linear-gradient(to bottom, #e64522 0, #e64522 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe64522', endColorstr='#ffe64522', GradientType=0);background-color:#c33219;border:1px solid #c33219;text-shadow:0 -1px -1px #972412}
a.button-googleplus:hover{background-image:-webkit-gradient(linear, left 0, left 100%, from(#c33219), to(#e64522));background-image:-webkit-linear-gradient(top, #c33219, 0, #e64522, 100%);background-image:-moz-linear-gradient(top, #c33219 0, #e64522 100%);background-image:linear-gradient(to bottom, #c33219 0, #e64522 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc33219', endColorstr='#ffe64522', GradientType=0);background-color:#e64522;}
#account-action.auth_login{max-width:360px}
#account-action .content-group{padding:10px;border-bottom:1px #ccc solid}
#account-action{min-width:200px;width:240px;width:auto;margin:auto;box-shadow:0 2px 10px rgba(0,0,0,0.45);border-radius:3px;font-family:'Helvetica Neue','Helvetica',arial,sans-serif;background:#fff;color:#666}
#account-action-footer{padding:15px;background:#f0f0f0;border-radius:0 0 3px 3px}
#account-action p{margin:.25em 0 .5em}
#account-action p a{color:#333}
#account-action .account-input::-webkit-input-placeholder{color:transparent}
#account-action .account-input::-moz-placeholder{color:transparent}
#account-action h1{color:#525252;font-size:20px;margin:0;font-weight:bold}
#account-action small{font-size:.7em}
#account-action .controls{margin-bottom:10px}
#account-action .account-input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-image:-webkit-gradient(linear, left 0, left 100%, from(#f0f0f0), to(#f5f5f5));background-image:-webkit-linear-gradient(top, #f0f0f0, 0, #f5f5f5, 100%);background-image:-moz-linear-gradient(top, #f0f0f0 0, #f5f5f5 100%);background-image:linear-gradient(to bottom, #f0f0f0 0, #f5f5f5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#fff5f5f5', GradientType=0);border:1px solid #d6d3ce;border-radius:3px;box-shadow:0 0 3px rgba(0,0,0,0.12) inset;min-height:22px;color:#333;font-size:14px;padding:7px;width:100%}
#account-action .error{color:#c00}
#account-action .error .account-input{color:#c00;border:1px #c00 solid;background:#fff}
#account-action .success{color:#090}
#account-action #btn-account-return{display:none}
#account-action .account-btn{background:#4d90fe;display:block;color:#fff;border:1px solid #ccc;border-radius:3px;cursor:pointer;font-weight:bold;padding:8px 14px 7px;white-space:nowrap;position:relative;vertical-align:middle;padding:10px 15px;font-size:15px;font-family:inherit;line-height:normal;text-decoration:none;width:100%}
#account-action .alert{font-size:14px;padding:8px 14px;margin-bottom:22px;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:#fcf8e3;border:1px solid #fbeed5;border-radius:4px}
#account-action .alert,#account-action .alert h4{color:#c09853}
#account-action .alert h4{margin:0}
#account-action .alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847}
#account-action .alert-success h4{color:#468847}
#account-action .alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48}
#account-action .alert-error h4{color:#b94a48}
#account-action .alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad}
#account-action .alert-info h4{color:#3a87ad}
#account-action .alert-block{padding-top:14px;padding-bottom:14px}
#account-action .alert-block>p,.alert-block>ul{margin-bottom:0}
#account-action .alert-block p+p{margin-top:5px}
#account-action .disclaimer{line-height:12px;font-style:italic;color:#999;margin-bottom:0}
@media (min-width:320px){#account-action .account-btn{background-image:-webkit-gradient(linear, left 0, left 100%, from(#fff), to(#f0f0f0));background-image:-webkit-linear-gradient(top, #fff, 0, #f0f0f0, 100%);background-image:-moz-linear-gradient(top, #fff 0, #f0f0f0 100%);background-image:linear-gradient(to bottom, #fff 0, #f0f0f0 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f0f0', GradientType=0);color:#5f5f5f;display:inline-block;text-shadow:0 1px #fff;width:auto} #account-action .account-btn:hover,.account-btn:focus,.account-btn:active,.account-btn.active{color:#333;text-decoration:none;background-color:#dcdcdc;background-repeat:repeat-x;z-index:100;outline:none} .account-btn:active,.account-btn.active{background-color:#eee;-webkit-box-shadow:inset 0 1px 8px rgba(0,0,0,0.25);box-shadow:inset 0 1px 8px rgba(0,0,0,0.25)} .account-btn:focus{border-color:#4d90fe} .account-btn::-moz-focus-inner{padding:0;border:0} #account-action .account-btn-link{background:transparent;border-style:none} #account-action .account-btn:hover,#account-action .account-btn:focus,#account-action .account-btn:active{background:transparent;color:#333} #account-action .content-group{padding:20px} #account-action .account-input::-webkit-input-placeholder{color:#666} #account-action .account-input::-moz-placeholder{color:#666} #account-action .account-input{font-size:18px;padding:10px} #account-action{width:100%;max-width:470px;margin:40px auto} .placeholder-supported .control-label{display:none} #account-action .help-inline{font-size:.8em;position:absolute;right:16px;top:14px} #account-action .controls{position:relative} #account-action .error .account-input{padding-right:100px} #account-action-footer{text-align:right} #account-action #btn-account-return{float:left;display:inline-block} #btn-account-return span{display:none}}@media (min-width:480px){#btn-account-return{font-size:13px !important} #btn-account-return span{display:inline}}@media (min-width:768px){#account-action{margin:100px auto}}
