/* Bootstrap Overrides */
.btn-group .btn input{visibility:hidden;position:absolute;left:-10000px;}
.dropdown-menu > li.tick a {padding-left:25px;}
.dropdown-menu > li.tick.active > a:before {content:'\2714';position:absolute;left:8px;}
.dropdown-menu .tick  a {background:#fff;color:#333;}
.pagination .dropdown {display:inline-block;}

.modal h3{font-size:18px;}
.input-xxlarge {width:540px;}
.modal .input-xxlarge{width:530px;}
td select, td textarea, td input[type="text"] {margin-bottom:0;}
.nav-tabs,
.nav-pills {
	margin-bottom: 20px;
}
.panel-title {
	line-height: 20px;
}
ul.thumbnails {
	list-style-type: none;
	padding: 0;
}
/** SB Admin Overrides */
#page-wrapper {margin:auto;}
.full-width .container {width: auto;}
.breadcrumb {margin-top: 8px;}
.sidebar-toggle {
	display: block;
	float: left;
	border-style: none;
}
.full-width #page-wrapper {
	margin: 0;
}
.sidebar-toggle,
.navbar-static-side,
#page-wrapper {
	transition: margin 0.2s;
}
.sidebar-open {
	&.sidebar-toggle {
		margin-left: -20px;
	}
	&.navbar-static-side {
		margin-left: 0px;
	}
	&#page-wrapper {
		margin-left: 250px;
	}
}
@media(min-width: 1670px) {
	.sidebar-open {
		&navbar-static-side {
			border-right: 1px #ccc #e7e7e7;
		}
		&#page-wrapper {
			margin: auto;
		}
		.full-width &#page-wrapper {
			margin-left: 250px;
		}
	}
}
// .sidebar-collapsed {
// 	&.sidebar-toggle {
// 		margin-left: 0px;
// 	}
// 	&.navbar-static-side {
// 		margin-left: -250px;
// 	}
// 	&#page-wrapper {
// 		margin-left: 0;
// 	}
// }
.navbar-static-side {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	margin-top: 101px;
	margin-left: -250px;
	width: 250px;
}

.navbar-top-links > li > a > span {
	display: none;
}
@media(min-width:768px) {
	.navbar-top-links > li > a > span {
		display: inline;
	}
	.full-width .navbar-static-side {
		margin-top: 51px;
	}
	.navbar-static-side {
		margin-top: 51px;
	}
}
.full-width .navbar-static-side {
	display: block;
}
.footer {
	color: #999;
	padding: 10px 0;
}
.footer a {
	color: #666;
}

.full-width > pre {
	margin-left: 250px;
}