.tl{text-align:left!important;}
.tc{text-align:center!important;}
.tr{text-align:right!important;}

.b {font-weight:bold;}

.pad {padding:5px!important;}
.pad-large {padding:10px!important;}
.pad-xlarge {padding:15px!important;}
.no-pad {padding:0!important;}
.no-hpad {padding-right:0!important;padding-left:0!important;}
.no-vpad {padding-top:0!important;padding-bottom:0!important;}

.helper-hidden-accessible {
	padding: 0;
	display: block;
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}
.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}


.ellipsis {
    & {
    	text-overflow: ellipsis;
    	overflow: hidden;
    	white-space: nowrap;
    }
}
a.ellipsis,
span.ellipsis {
	display: inline-block;
}
